body{
  font-family: Arial, Helvetica, sans-serif;
    padding-top: 120px; 
}

/* MAG ADD KAYO NG COMMENT INDICATION KUNG ANONG SECTION YUNG STYLE NYO */

/* HEADER */

.nav {
  background-color: #21885B;
  margin-bottom: 200px;
}

.nav a{
  font-weight: bold;
  color: white;
}

.nav a:hover{
  color: #ffffffc1;
}
.nav a:active,
.nav a:focus {
  color: white !important;
}

/* HOME */



/* Vission and Mission */

.mission-vision-container {
  background: linear-gradient(180deg, #f8fdf9 0%, #e9f7ee 100%);
  min-height: 100vh;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  animation: fadePage 0.8s ease-in-out;
}


.header-box {
  text-align: center;
  margin-bottom: 50px;
}

.title {
  color: #217346;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
}

.subtitle {
  color: #3e7e56;
  font-size: 18px;
  margin-top: 5px;
  font-style: italic;
}

.card {
  background-color: white;
  width: 85%;
  max-width: 900px;
  padding: 45px;
  margin-bottom: 35px;
  border-radius: 25px;
  border: 2px solid #cde7d5;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  text-align: justify;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  border-color: #217346;
}


.card h2 {
  color: #145b32;
  font-size: 26px;
  margin-bottom: 15px;
  border-left: 6px solid #217346;
  padding-left: 15px;
  text-transform: uppercase;
}

.card p {
  color: #333;
  font-size: 18px;
  line-height: 1.9;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease forwards;
}

.fade-in.delay {
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadePage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


